:root {
  font-size: 16px;
}

* {
  font-family: "Public Sans", sans-serif;
  color: $grayish-blue;
}

h1,
h2,
h3,
h4 {
  color: $dark-blue;
}

.btn {
  color: $white;
}

.btn,
li a {
  font-size: 0.9375rem;
}

.title {
  font-size: 2.3125rem;
  font-weight: 400;
}

.subtitle_1 {
  font-size: 1.75rem;
  font-weight: 300;
}

.subtitle_2 {
  font-size: 1.25rem;
  font-weight: 300;
}

.text_1 {
  font-size: 0.875rem;
  line-height: 1.4rem;
}

.text_2 {
  font-size: 0.8125rem;
  line-height: 1.4rem;
}

@media screen and (min-width: 767px) {
  .title {
    font-size: 3.375rem;
  }

  .subtitle_1 {
    font-size: 2.4375rem;
  }

  .subtitle_2 {
    font-size: 1.5625rem;
  }

  .text_1 {
    font-size: 1.125rem;
    line-height: 1.7rem;
  }

  .text_2 {
    font-size: 0.96rem;
    line-height: 1.7rem;
  }
}
