/* Header desktop first */

header {
  background-color: #fff;
  position: relative;
  z-index: 3;

  .menu__ul {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: block;
      padding: 4px 0px 0;
    }
  }

  .menu__ul__logo a {
    border: 2px solid;
    border-color: transparent;
  }

  .menu__ul__logo a:focus {
    outline-width: 0px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, $lime-green, $bright-cyan);
  }

  .menu__ul__li {
    margin: 0 auto;

    ul {
      display: flex;
    }

    a {
      padding: 0px 15px;
      border-bottom: 4px solid transparent;
      height: 80px;
      display: flex;
      align-items: center;
      transition: color 0.4s;
    }

    a:hover,
    a:focus {
      outline-width: 0px;
      color: $dark-blue;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right, $lime-green, $bright-cyan);
    }
  }

  .menu__ul__hamburger,
  .menu__ul__hamburger button {
    display: none;
    border: none;
    background-color: transparent;
    padding: 10px 0px 10px 10px;
    cursor: pointer;
  }

  .menu__ul__hamburger button:focus {
    outline-color: transparent;
  }
}

@media screen and (max-width: 900px) {
  body.open {
    overflow: hidden;
  }

  header {
    .menu__ul__li {
      position: absolute;
      height: 0vh;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      transition: 0.6s ease-in !important;
    }

    &.open .menu__ul__li {
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(
        to bottom,
        rgba(45, 49, 77, 1),
        rgba(45, 49, 77, 0.5),
        transparent
      );
      transition: 0.6s ease-in-out;
    }

    .menu__ul__li ul {
      flex-direction: column;
      align-items: center;
      position: absolute;
      background-color: $white;
      width: calc(100% - 120px);
      height: 0;
      padding: 15px 0;
      border-radius: 5px;
      top: 24px;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      transition: height 0.6s ease-in-out;
    }

    &.open .menu__ul__li ul {
      height: auto;
      transition: height 0.6s ease-in-out;
    }

    .menu__ul__li a {
      color: $dark-blue;
      height: auto;
      padding: 15px;
    }

    .menu__ul__button {
      display: none;
    }

    .menu__ul__hamburger,
    .menu__ul__hamburger .open__menu {
      display: block;
    }

    &.open .menu__ul__hamburger .open__menu {
      display: none;
    }

    &.open .menu__ul__hamburger .close__menu {
      display: block;
    }
  }
}

@media screen and (max-width: 374px) {
  header .menu__ul__li ul {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 600px) {
  header .menu__ul {
    height: 64px;
  }

  header .menu__ul__li {
    top: 64px;
  }

  header .menu__ul__li ul {
    width: calc(100% - 48px);
  }
}
