.blue_btn {
  background-color: $blue;
  color: $white;
}
.white_btn {
  background-color: #f7f7f7;
  color: $dark_blue;
}
.orange_btn {
  background-color: $orange;
  color: $white;

  &:hover {
    color: $orange;
    background-color: $white;
    border: 2px solid $orange;
    transition: color 0.6s;
  }
}

.blue_btn:hover {
  border: 2px solid $blue !important;
  color: $blue;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
.white_btn:hover {
  border: 2px solid $gray !important;
  color: $gray;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}

.title_1_blue,
.title_2_blue,
.title_3_blue,
.menu_li {
  color: $dark_blue;
}

.title_3_gray {
  color: $gray;
}

.menu_li:hover,
.title_3_gray:hover {
  color: $orange;
  transition: 0.6s;
}

.text {
  color: $gray;
}
