.menu_li {
  font-size: 0.875rem;
}

.title_1_blue {
  font-size: 1.5rem;
}

.title_2_blue,
.title_2_white {
  font-size: 1.25rem;
}

.title_3_blue {
  font-size: 1rem;
  font-weight: 400;
}

.text {
  font-size: 0.75rem;
}

.btn,
.menu_li,
li .text {
  font-size: 0.8125rem;
}

.menu_li,
li .text {
  letter-spacing: 0.1rem;
}

.text {
  line-height: 1.2rem;
}

@media screen and (min-width: 359px) {
  .title_1_blue {
    font-size: 1.8rem;
  }

  .title_2_blue,
  .title_2_white {
    font-size: 1.5rem;
  }

  .title_3_blue {
    font-size: 1.25rem;
  }

  .text {
    font-size: 1rem;
  }

  .text {
    line-height: 1.7rem;
  }
}

@media screen and (min-width: 550px) {
  .title_1_blue {
    font-size: 2.96875rem;
  }

  .title_2_blue,
  .title_2_white {
    font-size: 1.8rem;
  }

  .text {
    font-size: 1.125rem;
  }
}
