footer {
  background-color: $orange;

  .attribution .text {
    color: $dark_blue;
    font-size: 13px;
  }

  .attribution .text.white {
    color: $white;
  }

  p {
    margin: 0;
  }
}

.footer {
  text-align: center;
  padding: 32px 0;
  background-color: $dark_blue;

  a {
    display: block;
    color: $white;
    cursor: pointer;
    transition: 0.6s;

    &:hover {
      color: $orange;
    }
  }

  ul {
    margin: 0;
  }

  .nav__group_1 {
    svg {
      margin-bottom: 30px;
    }

    li + li {
      margin-top: 30px;
    }
  }

  .nav__group_2 ul {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    svg path {
      transition: 0.6s;
    }

    svg:hover > path {
      fill: $orange;
    }

    .fb {
      margin-right: 30px;
    }

    .tt {
      margin-top: 2px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 30px 0 30px;

    .footer__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1111px;
      margin: 0 auto;
    }

    .nav__group_1 {
      display: flex;

      ul {
        display: flex;
      }

      li {
        margin-left: 30px;
      }

      li + li {
        margin-top: 0;
      }

      svg {
        margin: 0;
      }
    }

    .nav__group_2 ul {
      margin-top: 0;
    }
  }
}
