:root {
  font-size: 16px;
}

* {
  font-family: Rubik;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
    border-bottom: 2px solid $dark_blue;
  }

  &.btn:focus {
    border: 2px solid $blue;
  }
}

h1,
h2,
h3 {
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  box-sizing: border-box;
  padding: 0 15px;
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.blue_btn,
.white_btn {
  border: 2px solid transparent;
  padding: 17px 14px;
  font-weight: 500;
  transition: 0.6s ease-in-out;
}

.illustration {
  img {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 767px) {
  .container {
    padding: 0 30px;
  }

  .blue_btn,
  .white_btn {
    padding: 17px 24px;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    padding: 0 90px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    padding: 0 170px;
  }
}

@media screen and (min-width: 1700px) {
  .container {
    padding: 0 350px;
  }
}
