header {
  padding: 33px 0;
  transition: background-color 0.6s;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .menu__ul {
    display: flex;
    width: 100%;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    transition: height 0.6s ease-in-out, opacity 0.6s ease-in-out;
  }

  .menu_li,
  .orange_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    letter-spacing: 0.1rem;
    transition: color 0.6s;
  }

  .menu_li {
    width: 90px;
  }

  .orange_btn {
    width: 111px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .menu__hamburger {
    padding: 10px 0px 10px 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .menu__hamburger__close,
  .menu__social {
    display: none;
  }

  .menu__social {
    position: absolute;
    bottom: 200px;
  }
}

@media screen and (max-width: 767px) {
  body.open {
    overflow: hidden;
  }

  header {
    transition: 0.6s 0.2s;
  }

  .open header {
    background-color: rgba(37, 43, 70, 0.95);
    transition: 0.6s;

    .logo svg {
      .logo__name path {
        fill: $white;
      }

      .logo__icon circle {
        fill: $white;
      }

      .logo__icon path {
        fill: rgba(37, 43, 70, 0.95);
      }
    }

    .menu__hamburger__close,
    .menu__social {
      display: block;
    }

    .menu__hamburger__open {
      display: none;
    }

    .menu__social {
      img:first-child {
        margin-right: 40px;
      }
    }
  }

  header .menu__ul {
    height: 0vh;
    justify-content: flex-start;
    margin-top: 33px;
    padding-top: 30px;
    opacity: 1;
    transition: 0.6s ease-in-out;

    .li_wrapper {
      li {
        border-bottom: none;
        width: 308px;
        padding: 10px 0;
      }

      li:first-child {
        border-top: none;
      }

      .menu_li {
        color: #fff;
        font-size: 20px;
        width: auto;
      }
    }

    .btn {
      width: 308px;
      background-color: transparent;
      border: 2px solid #fff;
      font-size: 20px;
      height: 48px;
    }
  }

  header .open.menu__ul {
    height: 100vh;
    background-color: rgba(37, 43, 70, 0.95);
    justify-content: flex-start;
    margin-top: 33px;
    opacity: 1;
    transition: 0.6s ease-in-out 0.2s;

    .li_wrapper {
      li {
        border-bottom: 1px solid #444b68;
        transition: 0.2s 0.7s;
      }

      li:first-child {
        border-top: 1px solid #444b68;
        transition: 0.2s 0.7s;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  header {
    .menu__hamburger {
      display: none;
    }

    .menu__ul {
      width: auto;
      height: auto;
      display: flex;
      position: initial;
      flex-direction: row;
      align-items: initial;
      background-color: transparent;
      opacity: 1;

      .li_wrapper {
        display: flex;
      }

      .li_wrapper,
      li {
        transform: scale(1) !important;
      }

      &.open {
        height: auto;
      }
    }

    li + li {
      margin-left: 10px;
    }

    .orange_btn {
      margin-left: 20px;
      margin-top: 0;
    }
  }
}
