.newsletter {
  background-color: $blue;
  padding: 73px 0;

  .text {
    letter-spacing: 0.2rem;
  }

  .newsletter__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .newsletter__text,
  .newsletter__form {
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
  }

  .newsletter__form {
    .email_wrapper {
      position: relative;
      width: 250px;
      margin: 0 auto;

      .ok {
        width: 28px;
        height: 28px;
      }

      .error,
      .ok {
        position: absolute;
        right: 15px;
        top: 34%;
        transform: translateY(-50%);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
      }
    }

    .email_wrapper:after {
      content: "";
      box-sizing: border-box;
      position: relative;
      top: -2px;
      display: flex;
      align-items: center;
      width: 100%;
      height: 25px;
      overflow: hidden;
      padding-left: 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: $white;
      font-style: italic;
      opacity: 0;
      transition: 0.6s;
    }

    .email,
    .btn {
      box-sizing: border-box;
      padding: 0 20px;
      width: 250px;
      height: 42px;
      border-radius: 5px;
      border: 2px solid transparent;
    }

    .btn {
      transition: 0.6s;
    }

    .valid {
      &:after {
        content: "Thanks for signing up!";
        opacity: 1;
        background-color: #67c6d8;
        transition: 0.6s;
      }

      .email {
        border: 2px solid #67c6d8;
        padding: 0 48px 0 20px;
      }

      .ok {
        opacity: 1;
        transition: opacity 0.6s;
      }
    }

    .invalid {
      animation: shake 0.6s ease-in forwards;

      &:after {
        content: "Whoops, make sure it's an email";
        opacity: 1;
        background-color: $orange;
        transition: 0.6s;
      }

      .email {
        border: 2px solid $orange;
        padding: 0 48px 0 20px;
      }
      .error {
        opacity: 1;
        transition: opacity 0.6s;
      }

      @keyframes shake {
        0%,
        10%,
        20%,
        30%,
        40%,
        50%,
        60%,
        70%,
        80%,
        90%,
        100% {
          transform: translateY(0px);
        }
        5%,
        35%,
        65%,
        95% {
          transform: translateY(5px);
        }
        15%,
        45%,
        75% {
          transform: translateX(5px);
        }
        25%,
        55%,
        85% {
          transform: translateX(-5px);
        }
      }
    }

    .btn {
      margin: 13px auto 0;
    }

    .btn:hover {
      border: 2px solid $orange;
    }
  }
}

@media screen and (min-width: 359px) {
  .newsletter {
    .newsletter__text,
    .newsletter__form {
      max-width: 325px;
    }
  }

  .newsletter .newsletter__form {
    .email,
    .email_wrapper,
    .btn {
      width: 270px;
    }
  }
}

@media screen and (min-width: 767px) {
  .newsletter {
    .title_2_white {
      margin-top: 40px;
    }

    .newsletter__text,
    .newsletter__form {
      max-width: 444px;
    }
  }

  .newsletter .newsletter__form {
    .email_wrapper {
      width: 300px;
      margin: 0;
    }
    .email {
      width: 300px;
      height: 49px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
        0 1px 3px 0 rgba(0, 0, 0, 0.2);
    }

    .btn {
      width: 125px;
      height: 50px;
      margin: 0;
      padding: 0;
    }
  }
}
