.btn {
  background-color: $color-1;
  border-color: $color-1;
}

.title,
.text,
.title-2 {
  color: $color-2;
}

footer .title,
footer .title-2,
footer .text {
  color: $color-3;
}

.characteristic {
  background-color: $color-3;
}

footer,
footer:before {
  background-color: $color-2;
}
