:root {
  font-size: 16px;
}

.title {
  font-family: poppins;
}

*,
.number {
  font-family: "Open sans";
}

.container {
  max-width: 1069px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  cursor: pointer;
  outline: none;
}

.illustration img {
  display: block;
  width: 100%;
}
