:root {
  font-size: 16px;
}

* {
  font-family: "Open sans";
}

.title {
  font-family: poppins;
}

.container {
  max-width: 1069px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  cursor: pointer;
}
