header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
  }

  .btn {
    background-color: transparent;
    border-width: 1px;
    width: 100px;
    height: 30px;
    border-radius: 18px;
    color: $color-1;
    transition: 0.5s;

    &:hover {
      box-shadow: 0 0 2px 1px #ff52bf;
      transition: 0.5s;
    }
  }

  .logo {
    display: flex;
  }

  .logo img {
    max-width: 125px;
  }
}

@media screen and (min-width: 768px) {
  header {
    .container {
      padding: 45px;
    }

    .btn {
      border-width: 1px;
      width: 100px;
      height: 30px;
    }

    .logo img {
      max-width: 180px;
    }
  }
}

@media screen and (min-width: 800px) {
  .btn:focus {
    box-shadow: 0 0 2px 1px #ff52bf;
  }
}
