@import "normalize";
@import "variables";
@import "colors";
@import "font-size";
@import "general";
@import "header";
@import "introduction";
@import "characteristics";
@import "call_to_action";
@import "footer";

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: $color-1;
}
