.all_time .container {
  position: relative;
}

.card_bg {
  padding: 28px 0;
  border-radius: 5px;
  text-align: center;
  position: relative;
  top: -188px;
  border-top-width: 4px;
  border-top-style: solid;

  &.facebook {
    border-color: $facebook;
  }
  &.twitter {
    border-color: $twitter;
  }
  &.instagram:before {
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    display: block;
    background-image: linear-gradient(#fdc468, #df4996);
    position: absolute;
    top: -4px;
  }
  &.youtube {
    border-color: $youTube;
  }

  + .card_bg {
    margin-top: 25px;
  }

  .card_bg__social_media,
  .result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 19px;

    .icon {
      margin-right: 6px;
    }
  }

  .follower {
    letter-spacing: 0.4rem;
    font-weight: 300;
    margin: 2px 0 30px;
  }

  .result {
    margin: 0;
  }
}

@media screen and (min-width: 690px) {
  .all_time .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card_bg {
    margin: 25px 0 0;
    flex: 1;
    flex-basis: 254px;
    flex-shrink: 0px;
  }

  .card_bg:nth-child(even) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 842px) {
  .card_bg.instagram {
    min-width: 381px;
  }
}

@media screen and (min-width: 969px) {
  .card_bg.instagram {
    min-width: initial;
    margin-left: 30px;
  }

  .card_bg.youtube {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1125px) {
  .card_bg.youtube {
    margin: 25px 30px;
  }
}

@media screen and (min-width: 1156px) {
  .card_bg.youtube {
    margin: 25px 0px 0px 30px;
  }
}
