@import "normalize";
@import "general";
@import "variables";
@import "colors";
@import "font-size";
@import "header";
@import "all_time";
@import "today";

* {
  font-family: inter;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution span {
  color: $desaturated-blue;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
