.today {
  position: relative;
  top: -141px;

  &.container {
    padding-top: 0;
  }

  .container {
    padding: 0;
  }

  .text-1 {
    margin-bottom: 28px;
  }
}

.small_card {
  padding: 30px 25px;

  + .small_card {
    margin-top: 25px;
  }

  .text-1 {
    margin-bottom: 26px;
  }

  .overview,
  .numbers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px 0 1px;

    .text-2 {
      margin-left: 3px;
    }
  }
}

@media screen and (min-width: 718px) {
  .today .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .small_card {
    flex: 1;
    flex-basis: 254px;
    flex-shrink: 0;
    margin: 25px 15px 0;
  }
}

@media screen and (min-width: 1156px) {
  .card_bg.youtube {
    margin: 25px 0px 0px 30px;
  }
}
