.main {
  text-align: center;
  padding: 48px 0 51px;
  color: $secondary_color;

  .illustration {
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
    }
  }

  h1 {
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.03rem;
    margin: 60px 0 24px;
  }

  p {
    font-family: "Open Sans";
    font-size: 0.84375rem;
    line-height: 1.38rem;
    margin: 0 0 25px 0;
  }

  button {
    font-family: Poppins;
    font-size: 0.75rem;
    letter-spacing: 0.03rem;
    width: 170px;
    height: 34px;
    border: none;
    border-radius: 18px;
    background-color: $secondary_color;
    color: $main_color;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;

    &:hover {
      background-color: $main-color;
      color: #fff;
    }

    &:focus {
      outline: none;
      background-color: $main-color;
      color: #fff;
      box-shadow: 0px 0px 9px 6px $tertiary_color;
    }
  }
}

@media screen and (min-width: 769px) {
  .main {
    h1 {
      max-width: 443px;
      font-size: 2.25rem;
      line-height: 3.7rem;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      line-height: 1.7rem;
    }

    button {
      width: 200px;
      height: 56px;
      border-radius: 28px;
      box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.2);
    }

    p,
    button {
      font-size: 1.1125rem;
    }
  }
}

@media screen and (min-width: 1439px) {
  .main {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 104px 0 51px;

    .main__text {
      margin-left: 63px;
    }

    h1 {
      max-width: 443px;
      font-size: 2.43rem;
      line-height: 3.7rem;
      margin: 51px 0 24px;
    }

    p {
      line-height: 1.7rem;
    }

    button {
      width: 200px;
      height: 56px;
      border-radius: 28px;
      box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.2);
    }

    p,
    button {
      font-size: 1.1125rem;
    }
  }
}
